.flex {
    display: flex;
}

.intro {
    width: 60%;
    background-image: url(../public/airco.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.hidden {
    display: none;
}

.h2 {
    font-size: 10em;
    padding: 4%;
    margin-top: 1em;
    color: white;
    filter: drop-shadow(0 0 2rem black);
}
.h3 {
    font-size: 2em;
    margin-top: 3em;
    margin-bottom: 1em;
}
.h4 {
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
}

.p {
    padding: 10% 0;
}

.form {
    width: 39%;
    padding: 2%;
    height: 100vh;
    overflow-y:auto;
}

.formChange {
    width: 50%;
    margin: 0 auto;
    padding: 2%;
}

.labelText {
    display: block;
    margin-top: 2em;
}

.inputText {
    display: block;
    width: 100%;
    border: .2em solid;
    padding: 1%;
    outline: none;
    border-radius: 2em;
}

.flexChoice {
    display: flex;
    justify-content: space-between;
}

.inputRadio, .labelFile {
    opacity: 0;
}

.inputRadio[type="radio"]:checked+label {
    font-weight: bold;
    background: rgb(0,97,255);
    background: linear-gradient(90deg, rgba(0,97,255,1) 0%, rgba(96,239,255,1) 100%);
    filter: drop-shadow(0 0 .5rem black);
    color: white;
    border: none;
}

.labelRadio {
    width: 30%;
    border-radius: 0 0 2em 2em;
    border: black solid .1em;
    text-align: center;
    background: white;
}

.inputRadioMini[type="radio"]:checked+label {
    font-weight: bold;
    background: rgb(0,97,255);
    background: linear-gradient(90deg, rgba(0,97,255,1) 0%, rgba(96,239,255,1) 100%);
    filter: drop-shadow(0 0 .5rem black);
    color: white;
    border: none;

}

.labelRadioMini {
    width: 30%;
    border-radius: 2em;
    border: black solid .2em;
    text-align: center;
    background: white;

}

.inputRadioMini {
    opacity: 0;
}


.submitButton {
    font-weight: bold;
    background: rgb(0,97,255);
    background: linear-gradient(90deg, rgba(0,97,255,1) 0%, rgba(96,239,255,1) 100%);
    filter: drop-shadow(0 0 .5rem black);
    color: white;
    outline: none;
    display: block;
    width: 100%;
    border: none;
    height: 4em;
    margin-top: 3em;
    font-size: 1em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
