.article {
    width: 96rem;
    margin: 0 auto;
}

.head {
    text-align: center;
    font-size: 3.5em;
}

.h3 {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 2em;
}

.flex, .models {
    display: flex;
    width: 100%;
    margin: 5em auto;
    justify-content: space-between;
    
}

.leftScreen, .videoClip, .rightScreen {
    width: 30%;
}

.models {
    background: linear-gradient(90deg, rgba(0,97,255,1) 0%, rgba(96,239,255,1) 100%);
    padding: 4em;
    border-radius: 2em;
}

.video {
    width: 100%;
}

.expText {
    text-align: justify;
    font-size: 1.3em;
}

.box {
    width: 20%;
}

