.parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 4em;
grid-row-gap: 4em;
width: 98em;
margin: 3em auto;
align-items: center;

}

.flex {
    display: flex;
    align-items: center;
}

.div1 { grid-area: 1 / 1 / 3 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 4; }
.div3 { grid-area: 2 / 2 / 3 / 3; }
.div4 { grid-area: 2 / 3 / 3 / 4; }


.div1, .div2, .div3, .div4 {
background: linear-gradient(90deg, rgba(0,97,255,1) 0%, rgba(96,239,255,1) 100%);
border-radius: 2em;
padding: 10% 5%;
}

.clock, .cust {
    width: 50%;
    margin: 0 auto;
}

.cust {
    width: 30%;
}

.exp{
    width: 40%;
    padding: 5%;
}

.title {
    font-size: 6em;
    line-height: 90%;
    color: whitesmoke;
}

.text {
margin-top: 1em;
}