.header {
  background-image: url(../public/airco.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.none {
  display: none;
}

.nav {
  margin: 0 auto;
  padding: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.miniLogo {
  display: block;
  width: 10%;
}

.title {
  font-size: 3.5em;
  line-height: 100%;
  color: white;
}

.content {
  width: 52rem;
  margin: 4em auto;
  background: linear-gradient(90deg, rgba(0,97,255,1) 0%, rgba(96,239,255,1) 100%);
  display: flex;
  justify-content: center;
  border-radius: 2em;
}

.container {
  padding: 5% 0 0 5%;
}

.button {
  background-color: black;
  color: white;
  margin-top: 2em;
  display: block;
  padding: 3%;
  width: 10em;
  text-align: center;
  border-radius: 2em;
}
